@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

body {
  font-family: "Space Grotesk", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

.hero {
  background-image: url("./assets/images/o31lzgdhnrkyvfbwwg33.png");
}

/* ::-webkit-scrollbar {
  display: none;
} */

@font-face {
  font-family: sketch;
  src: url("./assets/fonts/4435b19e5f09d019-s.p.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: font1;
  src: url("./assets/fonts/98b8b276fece238b-s.p.ttf");
}

@font-face {
  font-family: font2;
  src: url("./assets/fonts/8076f151dc35e9db-s.p.otf");
}

footer {
  background-image: url("./assets/images/o31lzgdhnrkyvfbwwg33.png");
}
